%html
  %head
    %title RoyalOakCommunitySchool
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
  %body
    %section.header
      %header
        .container
          .logo
            = link_to image_tag('ROCS-logo-version-4-1-jpeg.jpg', class: 'horiz-center'), {:action => 'index', :controller => 'welcome'}
          //%h1.title Royal Oak Community School
      %nav.navbar.navbar-default
        .container
          .navbar-header
            %button.navbar-toggle.collapsed{:type => "button", :data => {:toggle => "collapse", :target => "#nav-collapse"}, "aria-expanded" => "false"}
              %span Menu
          .collapse.navbar-collapse#nav-collapse
            %ul.nav.navbar-nav
              %li= link_to 'Home', controller: 'welcome'
              %li= link_to 'Philosophy', controller: 'philosophy'
              %li= link_to 'Program', controller: 'program'
              %li= link_to 'News', controller: 'news'
              %li= link_to 'Survey', controller: 'survey'
              %li= link_to 'Founding Committee', controller: 'committee'
              %li= link_to 'Location, Enrolling & Volunteering', controller: 'location'
              %li.dropdown
                = link_to(raw('Admission <span class="caret"></span>'), '#', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown', :role => 'button', 'aria-haspopup' => 'true', 'aria-expanded' => 'false')
                %ul.dropdown-menu
                  %li= link_to 'Fees and Payment', controller: 'admission', action: 'fees'
                  %li= link_to 'Application Form', controller: 'admission', action: 'application'
                  %li= link_to('Bursary Application Site', 'https://applefinancialservices.ca/home', target: '_blank')
              %li= link_to 'Contact', controller: 'contact'
    %section.container.main
      = yield
    %footer
      .container
        %span Copyright 2015 Royal Oak Community School. All rights reserved.
